.carousel-container {background: rgba(43, 175, 72, 0.71);padding: 50px 0;}

.slider-content {text-align: left;color: #fff;}

.slider-content h3 {font-size: 35px;margin-bottom: 15px;font-weight: 700;}



.slider-image img {height: 335px;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
border-radius: 5px;}

.carousel-container .row > div {align-items: center;display: flex;justify-content: center;}
.slider-image{
    opacity: 0.8;
}

.carousel-control-next-icon , .carousel-control-prev-icon{
    transform: scale(2.5);
}

.caoursel-container > div {
    display: flex;
    align-items: center;
}
.caoursel-container img {
    height: 270px;
}
.videoCarouselArrow {
    cursor: pointer;
    font-size: 35px;
}